/*Шрифт Proxima Nova*/

/*Light*/
@font-face {
    font-family: 'Proxima Nova Light';
    src: url('../fonts/Proxima-Nova/Light/ProximaNova-Light.eot');
    src: url('../fonts/Proxima-Nova/Light/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Proxima-Nova/Light/ProximaNova-Light.woff') format('woff'),
    url('../fonts/Proxima-Nova/Light/ProximaNova-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
/*Regular*/
@font-face {
    font-family: 'Proxima Nova Regular';
    src: url('../fonts/Proxima-Nova/Regular/ProximaNova-Regular.eot');
    src: url('../fonts/Proxima-Nova/Regular/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Proxima-Nova/Regular/ProximaNova-Regular.woff') format('woff'),
    url('../fonts/Proxima-Nova/Regular/ProximaNova-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

/*Semibold*/
@font-face {
    font-family: 'Proxima Nova Semibold';
    src: url('../fonts/Proxima-Nova/Semibold/ProximaNova-Semibold.eot');
    src: url('../fonts/Proxima-Nova/Semibold/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Proxima-Nova/Semibold/ProximaNova-Semibold.woff') format('woff'),
    url('../fonts/Proxima-Nova/Semibold/ProximaNova-Semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

/*Bold*/
@font-face {
    font-family: 'Proxima Nova Bold';
    src: url('../fonts/Proxima-Nova/Bold/ProximaNova-Bold.eot');
    src: url('../fonts/Proxima-Nova/Bold/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Proxima-Nova/Bold/ProximaNova-Bold.woff') format('woff'),
    url('../fonts/Proxima-Nova/Bold/ProximaNova-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

/*ExtraBold*/
@font-face {
    font-family: 'Proxima Nova Extrabld';
    src: url('../fonts/Proxima-Nova/ExtraBold/proxima_nova_extrabold.eot');
    src: url('../fonts/Proxima-Nova/Bold/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Proxima-Nova/ExtraBold/proxima_nova_extrabold.woff') format('woff'),
    url('../fonts/Proxima-Nova/ExtraBold/proxima_nova_extrabold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
/*Шрифт Myriad Pro*/

/*Regular*/
@font-face {
    font-family: 'Myriad Pro Regular';
    src: url('../fonts/MyriadPro/Regular/MyriadPro-Regular.eot');
    src: url('../fonts/MyriadPro/Regular/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro/Regular/MyriadPro-Regular.woff') format('woff'),
    url('../fonts/MyriadPro/Regular/MyriadPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
    